.form {
    max-width: 385px;
  }

  .form__fieldset {
    margin: 0 auto;
    padding: 0;
    border:none;

  }

  .form__label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .form__input {
    border-radius: 4px;
    width:100%;
    padding:10px;
    box-sizing:border-box ;
    margin-top: 8px;
    height:60px;
    font-family: "Inter",Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: black;
    border-width: 1px;
    border-style:solid;

   }

  .form__checkbox {
    border-radius: 2px;
    width:20px;
    height:20px;
    margin-right: 12px;

  }

  .form__label-button{
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    font-family:  "Inter",Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin:0;
  }

  .form__button {
    width:100%;
    margin:0;
    padding:0;
    margin-bottom: 32px;
    background-color: #2f80ed;
    color: white;
    border-radius: 4px;
    opacity: 100%;
    height:60px;
    border: none;
  }

  .form__button:hover {
    opacity:70%;
  }