.reservation {
    padding: 100px 0 120px;
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-size: cover;

  }

  .reservation__form {
    margin: 0 auto;

  }

  .reservation__title {
    text-align: center;
    margin: 0 0 80px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;

  }