.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter,Arial, sans-serif ;
  font-size: 16px;
  line-height: 20px;

}

.header {
  padding: 30px 80px 40px;
  min-height:720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position:relative;

}

.header__image {
  width:646px;
  height:568px;
  position:absolute;
  top:124px;
  right:5px;

}

.nav {
 display: flex;
 justify-content: space-between;

}

.nav__logo {
  position: relative;
  left:-50px;
  width:105px;
  height:30px;
}

.nav__links {
display: flex;
margin:0;
padding:0;
padding: 0;
gap:20px;
list-style-type: none;
}

.nav__link {
  color:black;
  text-decoration:none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

}

.header__title {
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin:183px 0 0 0;

}

.header__span-accent {
  display:block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;

}

.header__description {
  max-width: 683px;
  line-height:30px;
  margin: 28px 0 0 0 ;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top:auto;

}

.header__paragraph {
  margin:0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  padding: 100px 80px 215px;
  background-image:url(/se_project_coffeeshop/images/background_recipes.svg);
  background-position: bottom;
  background-size:contain;
  background-repeat: no-repeat;
  background-color:#012750 ;
  color:white;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

}

.recipe__subtitle {
  max-width: 438px;
  gap:24px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

}

.recipes__videos {
  display: flex;
  justify-content:center;
  gap:40px;
  color:white;

}

.recipes__video-caption {
  display:flex;
  justify-content: space-between;


}

Aero {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

}

.reservation {
  padding: 100px 0 120px;
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg)
  background-size: cover;

}

.reservation__form {
  margin: 0 auto;

}

.reservation__title {
  text-align: center;
  margin: 0 0 80px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

}

.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0 auto;
  padding: 0;
  border:none;

}

.form__input {
  border-radius: 4px;
  width:100%;
  padding:0;
  box-sizing:border-box ;
  margin-top: 8px;
  height:60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383


}

.form__checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 2px;
  width:20px;
  height:20px;
  margin-right: 12px;

}

.form__label_type_checkbox {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

}

.form__button {
  width:100%;
  margin:0;
  padding:0;
  margin-bottom: 32px;
  background-color: #2f80ed;
  color: white;
  border-radius: 4px;
  opacity: 100%;
  height:60px;
}

.form__button:hover {
  opacity:70%;
}

